.navigation {
	overflow: hidden;
	background-color: $blue-color;
	height: 4.7rem;
	line-height: 4.7rem;
	
	&_footer {
		height: 6.5rem;
		line-height: 6.5rem;
		background-color: $gray2-color;
	}
	
	&__list {
		@extend %layout;
		display: table;
		padding: 0 1.2rem 0 0;
	}
	
	&__item {
		display: table-cell;
		text-align: center;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	&__link {
		color: #fff;
		height: 3.6rem;
		font-family: $font-pfdin;
		font-size: 1.6rem;
		line-height: 4.1rem;
		display: inline-block;
		vertical-align: middle;
		font-weight: 400;
		padding: 0 20px;
		text-decoration: none;
		text-transform: uppercase;

		&.current {
			color: $blue-color;
			background-color: #fff;
		}

		&_footer {
			color: $blue-color;

			&.current {
				color: #fff;
				background-color: $blue-color;
			}
		}
	}
}