.page {
	&__title {
		color: #2f3e4f;
		font-family: $font-pfdin;
		font-size: 3rem;
		line-height: 1;
		overflow: hidden;
		font-weight: 400;
		text-align: center;
		margin-bottom: 54px;
	
		&__text {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;

			&:before, &:after {
				width: 50rem;
				height: 1px;
				position: absolute;
				top: 50%;
				margin-top: -1px;
				content: "";
				background-color: #98c4d9;
			}

			&:before {
				right: 100%;
				margin-right: 35px;
			}

			&:after {
				left: 100%;
				margin-left: 35px;
			}
		}
	}

	&__about {
		color: #000;
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 2.4rem;
		text-align: center;
		padding: 0 6.5rem;
		margin-bottom: 10.5rem;

		p {
			&:not(:last-child) {
				margin-bottom: 2.2rem;
			}
		}
	}

	&__button {
		text-align: center;
		margin-bottom: 6rem;
	}
}

.show-file {
	color: #0a4b82;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 2.4rem;
	padding-left: 3.3rem;
	display: inline-block;
	text-decoration: underline;
	background: url(../images/ico-pdf.png) 0 50% no-repeat;
	background-image: url(../images/ico-pdf.svg);
	background-size: 2.1rem 2.4rem;

	&:hover {
		text-decoration: none;
	}
}