.dot-list {
	li {
		color: #000;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1;
		padding-left: 28px;
		position: relative;
		margin-bottom: 20px;

		&:before {
			width: 0.8rem;
			height: 0.8rem;
			content: "";
			background-color: #0a4b82;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -4px;
			border-radius: 50%;
		}

		a {
			&, &:visited {
				color: #0a4b82;
				text-decoration: underline;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}