.layout-upper {
	height: 3.9rem;
	background-color: $gray-color;

	&__wrapper {
		@extend %layout;
	}
	
	&__list {
		font-size: 0;
	}
	
	&__item {
		@extend %inline;
		
		&:not(:last-child) {
			margin-right: 22px;
		}
	}

	&__link {
		color: #171717;
		font-family: $font-tahoma;
		font-size: 1.3rem;
		line-height: 3.9rem;
		font-weight: 400;
		text-decoration: none;
	}

	&__search {
		width: 344px;
		position: absolute;
		right: 0;
		top: 0;
	}
}