.layout-upper {
	height: 3.9rem;
	background-color: $gray-color;

	&__wrapper {
		@extend %layout;
	}
	
	&__list {
		font-size: 0;
	}
	
	&__item {
		@extend %inline;
	}

	&__link {
		padding: 0 12px;
		color: #171717;
		font-family: $font-tahoma;
		font-size: 1.3rem;
		line-height: 3.9rem;
		font-weight: 400;
		display: block;
		letter-spacing: -.015ex;
		text-decoration: none;

		&.current {
			color: #fff;
			background-color: $blue-color;
		}
	}

	&__search {
		width: 344px;
		position: absolute;
		right: 0;
		top: 0;
	}
}