<div class="fieldset">
	<div class="fieldset__caption">
		<div class="fieldset__caption__text">Почему СНТК?</div>
	</div>

	<div class="fieldset__content">

		<ul class="fieldset__list">
			<li class="fieldset__list__item">
				<div class="fieldset__list__item__ico"><img src="./images/file-security.png" alt="" class="fieldset__list__item__ico__src"></div>
				<div class="fieldset__list__item__title">Специалисты с богатейшим опытом разработки и реализации крупных проектов в области защиты информации</div>
			</li>
			
			<li class="fieldset__list__item">
				<div class="fieldset__list__item__ico"><img src="./images/visualization-of-data.png" alt="" class="fieldset__list__item__ico__src"></div>
				<div class="fieldset__list__item__title">Аттестационные испытания на более чем 500 объектах информатизации в 2015 году, в том числе на объектах Федеральной таможенной службы, Федеральной налоговой службы и Министерства внутренних дел России.</div>
			</li>

			<li class="fieldset__list__item">
				<div class="fieldset__list__item__ico"><img src="./images/data-settings.png" alt="" class="fieldset__list__item__ico__src"></div>
				<div class="fieldset__list__item__title">Установка и настройка средств защиты информации в 2015 году на более чем 2000 отдельных рабочих местах</div>
			</li>
			
			<li class="fieldset__list__item fieldset__list__item_nm">
				<div class="fieldset__list__item__ico"><img src="./images/cellphone-connected-to-the-cloud.png" alt="" class="fieldset__list__item__ico__src"></div>
				<div class="fieldset__list__item__title">Собственный парк современного оборудования, в том числе мобильных комплексов, удовлетворяющих всем современным требованиям ФСБ России и ФСТЭК России.</div>
			</li>
			
			<li class="fieldset__list__item fieldset__list__item_nm">
				<div class="fieldset__list__item__ico"><img src="./images/user-profiles-in-connection.png" alt="" class="fieldset__list__item__ico__src"></div>
				<div class="fieldset__list__item__title">Более 40 сертификатов повышения квалификации в области защиты информации у сотрудников компании</div>
			</li>

			<li class="fieldset__list__item fieldset__list__item_nm">
				<div class="fieldset__list__item__ico"><img src="./images/hand-holding-money-bills.png" alt="" class="fieldset__list__item__ico__src"></div>
				<div class="fieldset__list__item__title">Клиентоориентированные цены</div>
			</li>

		</ul>
	</div>
</div>