<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	
	<nav class="layout-footer__navigation navigation navigation_footer" role="navigation">
		<ul class="navigation__list">
			<li class="navigation__item"><a href="./activities.html" class="navigation__link navigation__link_footer @@if (current == 'activities') {current}">направления деятельности</a></li>
			<li class="navigation__item"><a href="./about.html" class="navigation__link navigation__link_footer @@if (current == 'about') {current}">о компании</a></li>
			<li class="navigation__item"><a href="./license.html" class="navigation__link navigation__link_footer @@if (current == 'license') {current}">лицензии и сертификаты</a></li>
			<li class="navigation__item"><a href="./customers.html" class="navigation__link navigation__link_footer @@if (current == 'customers') {current}">заказчики</a></li>
			<li class="navigation__item"><a href="./contacts.html" class="navigation__link navigation__link_footer @@if (current == 'contacts') {current}">контакты</a></li>
		</ul>
	</nav>

	<div class="layout-footer__wrapper">
		
		<div class="layout-footer__contacts">
			<div class="layout-footer__contacts__block">
				Москва, 127083<br>
				Верхняя Масловка, д. 20, стр. 1.<br>
				Телефон: (495) 645-83-54<br>
				Email: info@itsntk.ru
			</div>

			<div class="layout-footer__contacts__block">
				Краснодар, 350051<br>
				ул. Дальняя, 39/3<br>
				Телефон: (861) 278-98-34<br>
				Email: info@itsntk.ru
			</div>
		</div>
	
		<div class="layout-footer__content">
			<div class="layout-footer__content__block">
				<div class="layout-footer__content__title">По вопросам выполнения работ и стоимости услуг:</div>
				<div class="layout-footer__content__phone">(861) 278-98-34 (доб. 1250)</div>
			</div>

			<div class="layout-footer__content__block">
				<div class="layout-footer__content__title">По вопросам защиты конфиденциальной<br>информации и персональных данных:</div>
				<div class="layout-footer__content__phone">(861) 278-98-34 (доб. 4407)</div>
			</div>

			<div class="layout-footer__content__block">
				<div class="layout-footer__content__title">По вопросам технической защиты информации:</div>
				<div class="layout-footer__content__phone">(861) 278-98-34 (доб. 1255)</div>
			</div>

			<div class="layout-footer__content__block">
				<div class="layout-footer__content__title">По вопросам лицензирования</div>
				<div class="layout-footer__content__phone">(861) 278-98-34 (доб. 1253)</div>
			</div>
		</div>

		<div class="layout-footer__bottom">
			<div class="layout-footer__copiright">© «СНТК», 2016</div>

			<ul class="layout-footer__list">
				<li class="layout-footer__item"><a href="" class="layout-footer__link">Компетенции</a></li>
				<li class="layout-footer__item"><a href="" class="layout-footer__link">Материально-техническая база</a></li>
				<li class="layout-footer__item"><a href="" class="layout-footer__link">События</a></li>
				<li class="layout-footer__item"><a href="" class="layout-footer__link">Продукты и решения</a></li>
				<li class="layout-footer__item"><a href="" class="layout-footer__link">Партнеры</a></li>
			</ul>
		</div>
	</div>
</footer>