<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="./index.html" class="layout-header__logo logo"></a>
		 
		<div class="layout-header__col layout-header__col_x1">
			<div class="layout-header__col__title">Телефон для справок </div>
			<a href="tel:8-861-278-98-34" class="layout-header__col__phone">8 (861) 278-98-34</a>
		</div>
		 
		<div class="layout-header__col layout-header__col_x2">
			<div class="layout-header__col__title">Пишите нам</div>
			<a href="mailto:info@sntk.ru" class="layout-header__col__link layout-header__col__link_email">info@sntk.ru</a>
		</div>
		 
		<div class="layout-header__col layout-header__col_x3">
			<div class="layout-header__col__title">Обратная связь</div>
			<a href="#popup-question" class="layout-header__col__link layout-header__col__link_question js-open-popup">задать вопрос</a>
		</div>
		
		<div class="layout-header__button">
			<div class="layout-header__button__row">
				<a href="./questionnaire.html" class="button button_simple button_anket"><span class="button__ico button__ico_qu">Заполните анкету</span></a>

				<ul class="layout-header__social social">
					<li class="social__item">
						<a href="https://www.facebook.com/%D0%A1%D0%9D%D0%A2%D0%9A-548446108663305/" class="social__link social__link_facebook" target="_blank"></a>
					</li>
				</ul>
			</div>
			
			<div class="layout-header__button__row">
				<a href="./map-presence.html" class="button button_simple button_map"><span class="button__ico button__ico_map">Карта присутствия</span></a>
			</div>
		</div>

	</div>
</header>