<nav class="navigation" role="navigation">
	<ul class="navigation__list">
		<li class="navigation__item"><a href="./activities.html" class="navigation__link @@if (current == 'activities') {current}">направления деятельности</a></li>
		<li class="navigation__item"><a href="./about.html" class="navigation__link @@if (current == 'about') {current}">о компании</a></li>
		<li class="navigation__item"><a href="./license.html" class="navigation__link @@if (current == 'license') {current}">лицензии и сертификаты</a></li>
		<li class="navigation__item"><a href="./customers.html" class="navigation__link @@if (current == 'customers') {current}">заказчики</a></li>
		<li class="navigation__item"><a href="./contacts.html" class="navigation__link @@if (current == 'contacts') {current}">контакты</a></li>
	</ul>
</nav>