<nav class="navigation" role="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
			<li class="navigation__item"><a href="./about.html" class="navigation__link@@if (typeof current !== 'undefined' && current == 'about') { current}">о компании</a></li>
			<li class="navigation__item"><a href="./activities.html" class="navigation__link@@if (typeof current !== 'undefined' && current == 'activities') { current}">направления деятельности</a></li>
			<li class="navigation__item"><a href="./license.html" class="navigation__link@@if (typeof current !== 'undefined' && current == 'license') { current}">лицензии и сертификаты</a></li>
			<li class="navigation__item"><a href="./customers.html" class="navigation__link@@if (typeof current !== 'undefined' && current == 'customers') { current}">заказчики</a></li>
			<li class="navigation__item"><a href="./partners.html" class="navigation__link@@if (typeof current !== 'undefined' && current == 'partners') { current}">Партнеры</a></li>
			<li class="navigation__item"><a href="./contacts.html" class="navigation__link@@if (typeof current !== 'undefined' && current == 'contacts') { current}">контакты</a></li>
		</ul>
	</div>
</nav>