<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
	
	<h3 class="sidebar__title">Другие новости</h3>

	<article class="events-item events-item_sidebar js-bind-hover" itemscope itemtype="http://schema.org/Event">
		<div class="events-item__content">
			<div class="events-item__title">
				<a href="./events-item.html" class="events-item__link" itemprop="url"><span itemprop="name">Пятиминутный путеводитель по исчезающим чиновникам</span></a>
			</div>

			<div class="events-item__description" itemprop="description">
				C 5 по 16 марта 2015 года глава государства не появлялся на публичных мероприя­тиях, а государственные телеканалы выдавали в эфир записанные заранее сюже­ты. Пресс-секретарь президента Дмитрий Песков опровергал слухи об исчезно­вении, но в прессе высказывались различные версии произошедшего:
			</div>
		</div>
			
		<footer class="events-item__footer">
			<time class="events-item__date" itemprop="startDate" content="2014-04-17T00:00">17 апреля 2014</time>
			<a href="./events-item.html" class="events-item__more"></a>
		</footer>
	</article>

	<article class="events-item events-item_sidebar js-bind-hover" itemscope itemtype="http://schema.org/Event">
		<a href="" class="events-item__image">
			<img src="./images/events/6.jpg" class="events-item__image__src" itemprop="image" alt="">
		</a>

		<div class="events-item__content">
			<div class="events-item__title">
				<a href="./events-item.html" class="events-item__link" itemprop="url"><span itemprop="name">Ученые сняли молекулу в движении</span></a>
			</div>
		</div>
			
		<footer class="events-item__footer">
			<time class="events-item__date" itemprop="startDate" content="2014-04-17T00:00">17 апреля 2014</time>
			<a href="./events-item.html" class="events-item__more"></a>
		</footer>
	</article>

	<article class="events-item events-item_sidebar js-bind-hover" itemscope itemtype="http://schema.org/Event">
		<a href="" class="events-item__image">
			<img src="./images/events/8.jpg" class="events-item__image__src" itemprop="image" alt="">
		</a>

		<div class="events-item__content">
			<div class="events-item__title">
				<a href="./events-item.html" class="events-item__link" itemprop="url"><span itemprop="name">Классическая история iPod</span></a>
			</div>
		</div>
			
		<footer class="events-item__footer">
			<time class="events-item__date" itemprop="startDate" content="2014-04-17T00:00">17 апреля 2014</time>
			<a href="./events-item.html" class="events-item__more"></a>
		</footer>
	</article>

</aside>