<div class="layout-upper">
	<div class="layout-upper__wrapper">

		<ul class="layout-upper__list">
			<li class="layout-upper__item"><a href="" class="layout-upper__link">Компетенции</a></li>
			<li class="layout-upper__item"><a href="" class="layout-upper__link">Материально-техническая база</a></li>
			<li class="layout-upper__item"><a href="" class="layout-upper__link">События</a></li>
			<li class="layout-upper__item"><a href="" class="layout-upper__link">Продукты и решения</a></li>
			<li class="layout-upper__item"><a href="" class="layout-upper__link">Партнеры</a></li>
		</ul>

		<form action="" class="layout-upper__search search">
			<input class="search__input" placeholder="Поиск ...">
			<button class="search__button"></button>
		</form>

	</div>
</div>