<div class="layout-upper">
	<div class="layout-upper__wrapper">

		<ul class="layout-upper__list">
			<li class="layout-upper__item"><a href="./competence.html" class="layout-upper__link@@if (typeof current !== 'undefined' && current == 'competence') { current}">Компетенции</a></li>
			<li class="layout-upper__item"><a href="./technical-base.html" class="layout-upper__link@@if (typeof current !== 'undefined' && current == 'technical-base') { current}">Материально-техническая база</a></li>
			<li class="layout-upper__item"><a href="./events.html" class="layout-upper__link@@if (typeof current !== 'undefined' && current == 'events') { current}">События</a></li>
			<li class="layout-upper__item"><a href="./products.html" class="layout-upper__link@@if (typeof current !== 'undefined' && current == 'products') { current}">Продукты и решения</a></li>
		</ul>

		<form action="" class="layout-upper__search search">
			<input class="search__input" placeholder="Поиск ...">
			<button class="search__button"></button>
		</form>

	</div>
</div>