<script type="text/html" id="tmpl-equipment">
    <tr>
        <td class="tac">{{index}}.</td>
        <td><input name="f[{{index}}]" class="form__input"></td>
        <td><input name="d[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-table-po">
    <tr>
        <td class="tac">{{index}}.</td>
        <td><input name="a[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-table-otss">
    <tr>
        <td class="tac">{{index}}.</td>
        <td><input name="f[{{index}}]" class="form__input"></td>
        <td><input name="d[{{index}}]" class="form__input"></td>
        <td><input name="r[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-table-vtss">
    <tr>
        <td class="tac">{{index}}.</td>
        <td><input name="a[{{index}}]" class="form__input"></td>
        <td><input name="b[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-table-otss-vtss">
    <tr>
        <td class="tac">{{index}}.</td>
        <td><input name="a[{{index}}]" class="form__input"></td>
        <td><input name="b[{{index}}]" class="form__input"></td>
        <td><input name="c[{{index}}]" class="form__input"></td>
        <td><input name="d[{{index}}]" class="form__input"></td>
        <td><input name="e[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-table-structure">
    <tr>
        <td><input name="a[{{index}}]" class="form__input"></td>
        <td><input name="b[{{index}}]" class="form__input"></td>
        <td><input name="c[{{index}}]" class="form__input"></td>
        <td><input name="d[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-table-szi">
    <tr>
        <td class="tac">{{index}}.</td>
        <td><input name="a[{{index}}]" class="form__input"></td>
        <td><input name="b[{{index}}]" class="form__input"></td>
        <td><input name="c[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-table-post">
    <tr>
        <td class="tac">{{index}}.</td>
        <td>
            <label class="form__label">
                <span class="form__label__name">Должность</span>
                <input name="a[{{index}}]" class="form__input">
            </label>

            <label class="form__label">
                <span class="form__label__name">Звание</span>
                <input name="b[{{index}}]" class="form__input">
            </label>

            <label class="form__label">
                <span class="form__label__name">Ф.И.О.</span>
                <input name="c[{{index}}]" class="form__input">
            </label>
        </td>
        <td><input name="d[{{index}}]" class="form__input"></td>
    </tr>
</script>

<script type="text/html" id="tmpl-windows">
    <tr>
        <td>
            <input name="o[{{index}}]" class="form__input" placeholder="{{index}}-е окно">
        </td>
        <td><input name="f[{{index}}]" class="form__input"></td>
        <td><input name="d[{{index}}]" class="form__input"></td>
        <td>
            <select name="s[{{index}}]">
                <option value="">пластик</option>
                <option value="">дерево</option>
            </select>
        </td>
        <td><input name="r[{{index}}]" class="form__input"></td>
        <td><input name="x[{{index}}]" class="form__input"></td>
    </tr>
</script>


