<div id="ballot-6" class="popup">
	<div class="popup__dialog">
		<section class="popup__content">
			<b class="popup__close js-popup-close">Закрыть</b>
			
			<h4 class="page__title page__title_simple"><span class="page__title__text">ЗАЯВКА</span></h4>
			
			<div class="popup__title">на проведение контроля эффективности объекта информатизации</div>
			<div class="popup__header">«Автоматизированная система» (АС)</div>

			<form action="" method="post" class="form form-ajax">
				
				<label class="form__label">
					<span class="form__label__name">Наименование организации</span>
					<input type="text" class="form__input">
				</label>

				<label class="form__label">
					<span class="form__label__name">Наименование объекта информатизации (ОИ)</span>
					<input type="text" class="form__input">
				</label>
				
				<div class="form__columns clearfix">
					<div class="form__columns__item form__columns__item_pr">
						<label class="form__label">
							<span class="form__label__name">Номер (название) кабинета</span>
							<input type="text" class="form__input">
						</label>
						<label class="form__label">
							<span class="form__label__name">Фактический (почтовый) адрес</span>
							<input type="text" class="form__input">
						</label>
					</div>

					<div class="form__columns__item form__columns__item_pl">
						<label class="form__label">
							<span class="form__label__name">этаж</span>
							<input type="text" class="form__input">
						</label>

						<label class="form__label">
							<span class="form__label__name">ИНН</span>
							<input type="text" class="form__input js-inn-watcher">
						</label>
					</div>
				</div>

				<label class="form__label">
					<span class="form__label__name">Фактический адрес доставки отчетной документации подразделениями фельдсвязи и спецсвязи</span>
					<input type="text" class="form__input">
				</label>
				
				<h2 class="popup__header popup__header_left">Контактная информация лица, ответственного за аттестацию ОИ</h2>
				
				<div class="form__columns clearfix">
					<div class="form__columns__item form__columns__item_pr">
						<label class="form__label">
							<span class="form__label__name">Ф.И.О.</span>
							<input type="text" class="form__input">
						</label>
						<label class="form__label">
							<span class="form__label__name">Номер телефона</span>
							<input type="text" class="form__input js-phone-watcher">
						</label>
					</div>

					<div class="form__columns__item form__columns__item_pl">
						<label class="form__label">
							<span class="form__label__name">E-mail</span>
							<input type="text" class="form__input">
						</label>
					</div>
				</div>

				<p class="content-block">Спецификация и количество рабочих станций (ПЭВМ) (указывать диагональ монитора, тип ПЭВМ, наличие CD-ROM, дополнительных HDD и т.д.), ИБП, акустических колонок, сетевого фильтра (пилот), входящих в состав АС. Какая операционная система, антивирус установлены на ПЭВМ.</p>
				
				<div class="form__addition js-form-addition">
					<table class="popup__table">
						<colgroup>
							<col width="52">
							<col>
							<col width="150">
							<col width="150">
						</colgroup>
						<thead>
							<tr>
								<th rowspan="2" class="tac">№</th>
								<th rowspan="2">Наименование ОТСС</th>
								<th colspan="2">Необходимость проведения</th>
							</tr>
							<tr>
								<th class="tac">СИ</th>
								<th class="tac">СП</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tac">1.</td>
								<td><input name="f[1]" class="form__input"></td>
								<td><input name="d[1]" class="form__input"></td>
								<td><input name="r[1]" class="form__input"></td>
							</tr>
						</tbody>
					</table>

					<div class="form__row">
					    <span class="event-button event-button_add js-add-element" data-template="tmpl-table-otss">Добавить еще</span>
					</div>
				</div>
				
				<p class="content-block">Состав вспомогательных технических средств (телефонный аппарат (городской), кондиционер, блоки охранно-пожарной сигнализации, бытовые приборы и т.д.) установленных в помещении, где располагается аттестуемая АС</p>
		
				<div class="form__addition js-form-addition">
					<table class="popup__table">
						<colgroup>
							<col width="52">
							<col>
							<col width="255">
						</colgroup>
						<thead>
							<tr>
								<th class="tac">№</th>
								<th>Наименование ВТСС</th>
								<th>Выходы за пределы КЗ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tac">1.</td>
								<td><input name="a[1]" class="form__input"></td>
								<td><input name="b[1]" class="form__input"></td>
							</tr>
						</tbody>
					</table>   

				    <div class="form__row">
				        <span class="event-button event-button_add js-add-element" data-template="tmpl-table-vtss">Добавить еще</span>
				    </div>
				</div>
			
				<div class="form__columns clearfix">
					<div class="form__columns__item form__columns__item_pr">
						<label class="form__label">
							<span class="form__label__name">Кол-во пользователей</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Категория</span>
							<input type="text" class="form__input">
						</label>
					</div>

					<div class="form__columns__item form__columns__item_pl">
						<label class="form__label">
							<span class="form__label__name">полномочия</span>
							<select name="">
								<option value="">одинаковые</option>
								<option value="">различные</option>
							</select>
						</label>

						<label class="form__label">
							<span class="form__label__name">перечень грифов</span>
							<select name="">
								<option value="">Дсп</option>
								<option value="">С</option>
								<option value="">СС</option>
							</select>
						</label>
					</div>
				</div>
						
				<label class="form__label">
					<span class="form__label__name">Минимальное расстояние до границы контролируемой зоны (КЗ)</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Условия расположения трансформаторной подстанции (за пределами или в пределах КЗ)</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Условия расположения заземляющего устройства (ЗУ) (за пределами или в пределах КЗ)</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Расстояние от ЗУ до границы контролируемой зоны, и до подземных коммуникаций, имеющих выход за пределы КЗ (менее или более 10 м.)</span>
					<input type="text" class="form__input">
				</label>

				<div class="form__columns clearfix">
					<div class="form__columns__item form__columns__item_pr">
						<label class="form__label">
							<span class="form__label__name">Название протокола ЗУ</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Величина сопротивления ЗУ (не более 4 Ом)</span>
							<input type="text" class="form__input">
						</label>
					</div>

					<div class="form__columns__item form__columns__item_pl">
						<label class="form__label">
							<span class="form__label__name">Дата протокола ЗУ</span>
							<input type="text" class="form__input js-date-watcher">
						</label>
					</div>
				</div>
				
				<label class="form__label">
					<span class="form__label__name">Необходимость установки средств защиты и монтажных работ?</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Подписывает инструкции</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Утверждает</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Администратор</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Ответственный</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Наличие охранной сигнализации (должна быть обязательно)</span>
					<input type="text" class="form__input">
				</label>
				
				<p class="content-block">Условия прохождения линий и коммуникаций:</p>
				
				<table class="popup__table">
					<colgroup>
						<col width="35%">
						<col width="65%">
					</colgroup>
					<thead>
						<tr>
							<th>Тип линий и коммуникаций</th>
							<th>Имеет или не имеет выходы за пределы КЗ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Телефонная линия</td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td>Линия охранной сигнализации</td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td>Линия пожарной сигнализации</td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td>Система отопления</td>
							<td><input type="text" class="form__input"></td>
						</tr>
					</tbody>
				</table>

				<label class="form__label">
					<span class="form__label__name">Наличие в здании организаций арендаторов:</span>
					<input type="text" class="form__input">
				</label>

				<label class="form__label">
					<span class="form__label__name">Условия расположения ОИ относительно постоянных представительств иностранных государств, <strong>обладающих правом экстерриториальности</strong>. Расстояние до</span>
					<input type="text" class="form__input">
				</label>

				<p class="content-block">Состав средств защиты (СЗИ):</p>
						
				<div class="form__addition js-form-addition">
				   	<table class="popup__table">
						<colgroup>
							<col width="52">
							<col>
							<col width="160">
							<col width="160">
						</colgroup>
						<thead>
							<tr>
								<th class="tac">№</th>
								<th>Наименование СЗИ</th>
								<th>Заводской номер</th>
								<th>Необходимость замены</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tac">1.</td>
								<td><input name="a[1]" class="form__input"></td>
								<td><input name="b[1]" class="form__input"></td>
								<td><input name="c[1]" class="form__input"></td>
							</tr>
						</tbody>
					</table>

				    <div class="form__row">
				        <span class="event-button event-button_add js-add-element" data-template="tmpl-table-szi">Добавить еще</span>
				    </div>
				</div>
			
				<p class="content-block">Список лиц, допущенных к работе на ОИ:</p>
				
				<div class="form__addition js-form-addition">
   					<table class="popup__table">
						<colgroup>
							<col width="52">
							<col>
							<col width="160">
						</colgroup>
						<thead>
							<tr>
								<th class="tac">№</th>
								<th>Должность, звание (если есть), Ф.И.О.</th>
								<th>Категория</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tac">1.</td>
								<td>
									<label class="form__label">
										<span class="form__label__name">Должность</span>
										<input name="a[1]" class="form__input">
									</label>

									<label class="form__label">
										<span class="form__label__name">Звание</span>
										<input name="b[1]" class="form__input">
									</label>

									<label class="form__label">
										<span class="form__label__name">Ф.И.О.</span>
										<input name="c[1]" class="form__input">
									</label>
								</td>
								<td><input name="d[1]" class="form__input"></td>
							</tr>
						</tbody>
					</table>

				    <div class="form__row">
				        <span class="event-button event-button_add js-add-element" data-template="tmpl-table-post">Добавить еще</span>
				    </div>
				</div>

				<div class="form__button">
					<button type="submit" class="button button_large">отправить</button>
				</div>
			
			</form>

		</section>
	</div>
</div>
