<div id="ballot-7" class="popup">
	<div class="popup__dialog">
		<section class="popup__content">
			<b class="popup__close js-popup-close">Закрыть</b>
			
			<h4 class="page__title page__title_simple"><span class="page__title__text">ЗАЯВКА</span></h4>
			
			<div class="popup__title">на проведение специального обследования помещения</div>
 
			<form action="" method="post" class="form form-ajax">
				
				<p class="content-block">Прошу Вас провести специальное обследование помещения:</p>
				
				<div class="form__columns clearfix">
					<div class="form__columns__item form__columns__item_pr">
						<label class="form__label">
							<span class="form__label__name">Высота</span>
							<input type="text" class="form__input">
						</label>
				
						<label class="form__label">
							<span class="form__label__name">Длина</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Ширина</span>
							<input type="text" class="form__input">
						</label>
					</div>

					<div class="form__columns__item form__columns__item_pl">
						<label class="form__label">
							<span class="form__label__name">Количество единиц мебели</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Количество линий питания</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Количество линий кондиционирования</span>
							<input type="text" class="form__input">
						</label>
					</div>
				</div>

				<label class="form__label">
					<span class="form__label__name">Дополнительно</span>
					<textarea name="" cols="30" rows="10" class="form__textarea"></textarea>
				</label>

				<label class="form__label">
					<span class="form__label__name">Указать максимальный гриф секретности обрабатываемой информации</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Указать полные банковские реквизиты</span>
					<textarea name="" cols="30" rows="10" class="form__textarea"></textarea>
				</label>

				<label class="form__label">
					<span class="form__label__name">Адрес доставки РСО</span>
					<input type="text" class="form__input">
				</label>

				<div class="form__button">
					<button type="submit" class="button button_large">отправить</button>
				</div>
			
			</form>

		</section>
	</div>
</div>
