<div id="ballot-1" class="popup">
	<div class="popup__dialog">
		<section class="popup__content">
			<b class="popup__close js-popup-close">Закрыть</b>
			
			<h4 class="page__title page__title_simple"><span class="page__title__text">ЗАЯВКА</span></h4>
			
			<div class="popup__title">на проведение аттестации объекта информатизации</div>
			<div class="popup__header">«СИРД»</div>
 
			<form action="" method="post" class="form form-ajax">
				
				<p class="content-block">Прошу Вас провести спецпроверку и специсследования следующих технических средств:</p>

				<div class="popup__header">Спецификация оборудования</div>
				
				<table class="popup__table">
					<colgroup>
						<col width="52">
						<col>
						<col width="150">
					</colgroup>
					<thead>
						<tr>
							<th class="tac">№</th>
							<th>Наименование оборудования</th>
							<th>Количество</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tac">1.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">2.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">3.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">4.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">5.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">6.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">7.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">8.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">9.</td>
							<td><input type="text" class="form__input"></td>
							<td><input type="text" class="form__input"></td>
						</tr>
					</tbody>
				</table>
				
				<label class="form__label">
					<span class="form__label__name">Указать максимальный гриф секретности обрабатываемой информации</span>
					<input type="text" class="form__input">
				</label>
				
				<label class="form__label">
					<span class="form__label__name">Указать полные банковские реквизиты</span>
					<textarea name="" cols="30" rows="10" class="form__textarea"></textarea>
				</label>

				<label class="form__label">
					<span class="form__label__name">Адрес доставки РСО</span>
					<input type="text" class="form__input">
				</label>

				<div class="form__button">
					<button type="submit" class="button button_large">отправить</button>
				</div>
			
			</form>

		</section>
	</div>
</div>
