<div id="ballot-9" class="popup">
	<div class="popup__dialog">
		<section class="popup__content">
			<b class="popup__close js-popup-close">Закрыть</b>
			
			<h4 class="page__title"><span class="page__title__text">ОПРОСНЫЙ ЛИСТ</span></h4>
			
			Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных

			Информация для ТКП

			<form action="" method="post" class="form form-ajax">
				
				<div class="form__columns clearfix">
					<div class="form__columns__item form__columns__item_pr">
						<label class="form__label">
							<span class="form__label__name">Название компании</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Адрес компании</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Должность</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">Контактный телефон</span>
							<input type="text" class="form__input">
						</label>
					</div>

					<div class="form__columns__item form__columns__item_pl">
						<label class="form__label">
							<span class="form__label__name">ИНН / КПП компании</span>
							<input type="text" class="form__input">
						</label>
						
						<label class="form__label">
							<span class="form__label__name">ФИО заполняющего</span>
							<input type="text" class="form__input">
						</label>

						<label class="form__label">
							<span class="form__label__name">Адрес электронной почты</span>
							<input type="text" class="form__input">
						</label>
					</div>
				</div>

				<table class="small-padding no-border large-margin">
					<colgroup>
						<col width="52">
						<col>
						<col width="295">
					</colgroup>
					<thead>
						<tr>
							<th class="tac">№</th>
							<th>Ворпосы</th>
							<th>Поле для заполнения</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tac">1.</td>
							<td>Общее количество подразделений/филиалов компании</td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">2.</td>
							<td>Общее количество АРМ в компании</td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">3.</td>
							<td>Количество АРМ, на которых обрабатываются персональные данные (ПДн)</td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">4.</td>
							<td>Общее количество физических серверов в компании</td>
							<td><input type="text" class="form__input"></td>
						</tr>
						<tr>
							<td class="tac">5.</td>
							<td>Количество физических серверов, на которых обрабатываются ПДн</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">6.</td>
							<td>Применяется ли технология виртуализации? Если да, то какая? (Hyper-V, VMware)</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">7.</td>
							<td>Общее количество виртуальных серверов в компании</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">8.</td>
							<td>Количество виртуальных серверов, на которых обрабатываются ПДн</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">9.</td>
							<td>Участвуют ли в обработке ПДн мобильные технические средства? Какие именно?</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">10.</td>
							<td>Количество мобильных технических средств каждого из вышеуказанных видов, на которых обрабатывается ПДн</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">11.</td>
							<td>Какие операционные системы установлены на АРМ, обрабатывающие ПДн?<br>Какой разрядности (х86-х64)?<br>Являются ли все операционные системы лицензионными?</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">12.</td>
							<td>Какие операционные системы установлены на серверах, обрабатывающие ПДн?<br>Какой разрядности (х86-х64)?<br>Являются ли все операционные системы лицензионными?</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">13.</td>
							<td>Какие лицензионные антивирусные средства защиты установлены на АРМ, обрабатывающие ПДн?<br>Сертифицированы ли они ФСТЭК России?<br>Имеется ли в наличии формуляр ФСТЭК России на данное средство защиты?</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">14.</td>
							<td>Какие лицензионные антивирусные средства защиты установлены на сервера, обрабатывающие ПДн?<br>Сертифицированы ли они ФСТЭК России?<br>Имеется ли в наличии формуляр ФСТЭК России на данное средство защиты?</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">15.</td>
							<td>Применяются ли сертифицированные ФСТЭК России средства обнаружения вторжений?<br>Какие именно?<br>Имеется ли в наличии формуляр ФСТЭК России на данное средство защиты?</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">16.</td>
							<td>Применяются ли сертифицированные ФСТЭК России средства межсетевого экранирования?<br>Какие именно?<br>Имеется ли в наличии формуляр ФСТЭК России на данное средство защиты?</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
						<tr>
							<td class="tac">17.</td>
							<td>Применяются ли сертифицированные ФСТЭК России средства защиты информации от несанкционированного доступа?<br>Какие именно?<br>Имеется ли в наличии формуляр ФСТЭК России на данное средство защиты</td>
							<td><input type="text" class="form__textarea form__textarea_simple"></td>
						</tr>
					</tbody>
				</table>

				<table class="popup__table">
					<colgroup>
						<col width="250">
						<col width="45">
						<col width="45">
						<col width="190">
						<col>
						<col width="185">
					</colgroup>
					<thead>
						<tr>
							<th>Описание окна (схема) обязательно</th>
							<th colspan="2">Размеры</th>
							<th>Материал (пластик/дерево)</th>
							<th>Количество сегментов стекла</th>
							<th>Расстояние межд. стекл.</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tac"></td>
							<td>Шир</td>
							<td>Выс</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac">1-е окно</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac">2-е окно</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac">3-е окно</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac">4-е окно</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

				<table class="popup__table">
					<colgroup>
						<col width="52">
						<col width="385">
						<col>
					</colgroup>
					<thead>
						<tr>
							<th class="tac">№</th>
							<th>Наименование СЗИ</th>
							<th>Необходимость замены</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="tac"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="tac"></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			
				<div class="form__button">
					<button type="submit" class="button button_large">отправить</button>
				</div>
			
			</form>

		</section>
	</div>
</div>
