::-webkit-input-placeholder 		{ color: $placeholderColor; opacity: $placeholderOpacity; transition: opacity $time ease; }
:-moz-placeholder 					{ color: $placeholderColor; opacity: $placeholderOpacity; transition: opacity $time ease; }
::-moz-placeholder 					{ color: $placeholderColor; opacity: $placeholderOpacity; transition: opacity $time ease; }
:-ms-input-placeholder 				{ color: $placeholderColor; opacity: $placeholderOpacity; transition: opacity $time ease; }

:focus::-webkit-input-placeholder 	{ color: transparent; opacity: 0; }
:focus::-moz-placeholder          	{ color: transparent; opacity: 0; }
:focus:-moz-placeholder           	{ color: transparent; opacity: 0; }
:focus:-ms-input-placeholder      	{ color: transparent; opacity: 0; }

input[placeholder]          		{ text-overflow: ellipsis; }
input::-moz-placeholder     		{ text-overflow: ellipsis; }
input:-moz-placeholder      		{ text-overflow: ellipsis; } 
input:-ms-input-placeholder 		{ text-overflow: ellipsis; }

input,
textarea {
	-webkit-appearance: textfield;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

label {
	cursor: pointer;
}

input, button {
	-webkit-appearance: none;
}

textarea {
	resize: vertical;
}

@keyframes shake{
	0% { transform: translate(10px, 0); }
	50% { transform: translate(-10px, 0); }
	100% { transform: translate(0, 0); }
}

.form {
	clear: both;

	&__row {
		clear: both;
		margin-bottom: 2rem;
	}

	&__columns {
		clear: both;
		margin-bottom: 35px;
		
		&__item {
			width: 50%;
			float: left;

			&_pl {
				padding-left: 26px;
			}

			&_pr {
				padding-right: 26px;
			}
		}
	}

	&__label {
		clear: both;
		display: block;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		&__name {
			color: #191919;
			font-family: $font-arial;
			font-size: 1.3rem;
			font-weight: 400;
			line-height: 1;
			display: block;
			margin-bottom: 10px;
		}
	}

	&__input,
	&__textarea {
		width: 100%;
		color: #000;
		font-family: $font-arial;
		font-size: 1.5rem;
		font-weight: 400;
		border: 1px solid mix($input-border, #fff, 39%);
		border-radius: 2px;

		&.error {
			background: rgba(255, 0, 0, 0.1);
			border-color: rgb(255, 0, 0);
			border-color: rgba(255, 0, 0, 0.5);
		
			animation-name: shake;
			animation-duration: 300ms;
			animation-iteration-count: 3;
			animation-timing-function: linear;
		}
		
		&:disabled {
			opacity: 0.4;
			cursor: default;
		}

		&:focus,
		&:focus {
			outline: none;
		}

		&::-ms-clear {
			display: none;
		}
	}

	&__error-text {
		position: absolute;
		top: 100%;
		font-size: 1.3em;
		font-weight: 300;
		line-height: 1;
		margin-top: 4px;
		color: rgb(255, 0, 0);
	}

	&__input {
		height: 3.4rem;
		padding: 0 1rem;

		&_captcha {
			height: 50px;
		}
	}

	&__textarea {
		height: 20rem;
		max-height: 30rem;
		padding: .7rem 1rem;
		max-width: 100%;
		resize: vertical;

		&_simple {
			height: 87px;
		}
	}

	&__star {
		color: orange;
		font-size: 1.4rem;
		font-weight: 400;
	}

	&__button {
		clear: both;
		text-align: center;

		&_right {
			text-align: right;
		}
	}
}

.captcha-container {
	clear: both;
	
	&__image {
		width: 120px;
		float: left;
		border: 1px solid #eee;
		box-sizing: border-box;
		overflow: hidden;
		
		&__trigger {
			display: block;
			cursor: pointer;
		}
	}

	&__field {
		margin-left: 135px;
	}
}