.pagination {
	clear: both;
	font-size: 0;
	line-height: 0;
	text-align: center;
	margin-bottom: 3rem;

	&__list {
		letter-spacing: normal;
		margin: 0 !important;
		padding: 0 !important;
	}

	&__item {
		padding: 0;
		background: none;
		@extend %inline;

		&:not(:first-child) {
			margin-left: 6px;
		}

		&:not(:last-child) {
			margin-right: 6px;
		}
		
		&__text {
			text-decoration: none;
			color: #333;
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 4rem;
		}

		&__page {
			outline: 1px solid lime;

			&, &:visited {
				width: 3.1rem;
				height: 3rem;
				text-align: center;
				display: block;
				vertical-align: top;
				
				text-decoration: none;
				
				text-align: center;
				
				outline: none;

				color: #434343;
				font-size: 1.2rem;
				font-weight: 700;
				line-height: 3rem;
				text-transform: uppercase;

				transition: background-color $time;

				box-sizing: border-box;
			}

			&:hover {
			
			}
			
			&.visited {
				color: #b6b6b6;
			}

			&.current {
				&, &:hover {
					color: #fff;
					background-color: #0a4b82;
					border-radius: 50%;
				}
			}
		}

		&__nav {
			position: relative;
			color: #0a4b82;
			font-size: 1.3rem;
			font-weight: 700;
			line-height: 3rem;
			text-decoration: none;
			background-repeat: no-repeat;
			
			&.disabled {
				color: #949494;
				cursor: default;
			}

			&_prev {
				margin-right: 30px;
				padding-left: 19px;
				background-position: 0 50%;
				background-image: url(../images/before-arrow-disabled.png);

				&.disabled {
					background-image: url(../images/before-arrow-disabled.png);
				}
			}

			&_next {
				margin-left: 30px;
				padding-right: 19px;
				background-image: url(../images/after-arrow.png);
				background-position: 100% 50%;

				&.disabled {
					background-image: url(../images/after-arrow-disabled.png);
				}
			}
		}
	}
}