.slider {
	clear: both;
	width: 100%;
	height: 348px;
	overflow: hidden;
	font-size: 0;
	line-height: 1;
	position: relative;
	margin-bottom: 37px;
	
	&__wrapper {
		width: 100%;
		height: 100%;
		clear: both;
	}
	
	&__item {
		width: 100%;
		height: 348px;
		float: left;
		position: relative;
		overflow: hidden;
	}
}

ul.slick-dots {
	width: 100%;
	position: absolute;
	left: 0;
	font-size: 0;
	line-height: 0;
	bottom: 32px;
	z-index: 1000;
	text-align: center;
}

ul.slick-dots li {
	display: inline-block;
	vertical-align: top;
	margin: 0 6px;
}

ul.slick-dots li button {
	width: 0.8rem;
	height: 0.8rem;
	cursor: pointer;
	padding: 0;
	font-size: 0;
	text-indent: -100px;
	overflow: hidden;
	background-color: #007495;
	border: 0;
}

ul.slick-dots li.slick-active button {
	background-color: #0099c4;
}