@@include('./components/meta.html', {
	"title": "о компании"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "about"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
		
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "О компании",
				"page3": ""
			})
			
			<h4 class="page__title"><span class="page__title__text">О КОМПАНИИ</span></h4>
			
			<blockquote class="blockquote">
				ЗАО «Специальная научно-техническая компания» (ЗАО «СНТК») – современная, динамично развивающаяся компания, основными направлениями деятельности которой является оказание услуг в области защиты информации и защиты государственной тайны. 
			</blockquote>
			
			<div class="page__about">
				<p>Высокая техническая оснащенность, опытный и квалифицированный персонал – залог качества предоставляемых нами услуг.</p>
				<p>Компания «СНТК» оказывает услуги по защите информации в соответствии с законодательством Российской Федерации.</p>
				<p>Основные направления услуг: консультационные услуги, техническая поддержка средств и систем защиты информации, проектно-изыскательские работы, поставка программных и технических средств защиты информации, монтажные и пуско-наладочные работы.</p>
				<p>Мы работаем с организациями всех сфер деятельности, как с государственными, так и предприятиями коммерческого сектора любой формы собственности.</p>
			</div>
			
			@@include('./components/fieldset.html')
			
			<div class="page__video">
				<iframe width="100%" height="530" src="https://www.youtube.com/embed/qxtK8mTJdRM?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

			@@include('./components/carousel.html')

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "about"
})

@@include('./components/scripts.html')