@@include('./components/meta.html', {
	"title": "Направления деятельности"
})

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "activities"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
		
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Направления деятельности",
				"page3": ""
			})
			
			<h4 class="page__title"><span class="page__title__text">Направления деятельности</span></h4>
		
			<section class="half clearfix">
				<article class="half__item">
					<h2 class="half__item__header half__item__header_ico1">ЗАЩИТА ГОСУДАРСТВЕННОЙ<br>ТАЙНЫ</h2>

					<ul class="dot-list">
						<li><a href="">Услуги по защите государственной тайны</a></li>
						<li><a href="">Специальные исследования технических средств и систем</a></li>
						<li><a href="">Специальные обследования помещений</a></li>
						<li><a href="">Контроль защищенности и аттестация объектов информатизации</a></li>
						<li><a href="">Специальные проверки технических средств</a></li>
						<li><a href="">Выполнение работ и оказание услуг в отношении шифровальных (криптографических средств)</a></li>
						<li><a href="">Лицензирование организаций</a></li>
						<li><a href="">Безопасность информационных систем</a></li>
					</ul>
				</article>

				<article class="half__item">
					<h2 class="half__item__header half__item__header_ico2">ЗАЩИТА КОНФИДЕНЦИАЛЬНОЙ ИНФОРМАЦИИ</h2>

					<ul class="dot-list">
						<li><a href="">Комплексный аудит информационной безопасности</a></li>
						<li><a href="">Проектирование систем защиты информации</a></li>
						<li><a href="">Поставка средств защиты информации</a></li>
						<li><a href="">Внедрение средств и систем защиты информации</a></li>
						<li><a href="">Аттестация информационных систем</a></li>
						<li><a href="">Техническая поддержка и сопровождение средств и систем защиты информации, аутсорсинг</a></li>
					</ul>
				</article>
			</section>

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "activities"
})

@@include('./components/scripts.html')