@@include('./components/meta.html', {
	"title": "Компетенции"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	
	@@include('./components/upper.html', {
		"current": "competence"
	})
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html')

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
		
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Компетенции",
				"page3": ""
			})
			
			<h4 class="page__title"><span class="page__title__text">Компетенции</span></h4>
			
			<blockquote class="blockquote">
				<p>Специалисты «СНТК» обладают специальным образованием, при этом регулярно повышают свою квалификацию в области защиты информации.<br>Для проведения работ в области защиты информации «СНТК» использует современные сертифицированные автоматизированные комплексы контрольно-измерительного оборудования.</p>
				<p>Сотрудники компании регулярно участвуют в отраслевых выставках, научно-технических конференциях и форумах различного уровня.</p>
			</blockquote>

			<ul class="documents">
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom s"><img src="./images/document/1.jpg" alt="" class="documents__item__image__src"></a></li>
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom l"><img src="./images/document/2.jpg" alt="" class="documents__item__image__src"></a></li>
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom s"><img src="./images/document/3.jpg" alt="" class="documents__item__image__src"></a></li>

				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom s"><img src="./images/document/4.jpg" alt="" class="documents__item__image__src"></a></li>
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom l"><img src="./images/document/5.jpg" alt="" class="documents__item__image__src"></a></li>
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom s"><img src="./images/document/6.jpg" alt="" class="documents__item__image__src"></a></li>
				
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom s"><img src="./images/document/7.jpg" alt="" class="documents__item__image__src"></a></li>
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom l"><img src="./images/document/8.jpg" alt="" class="documents__item__image__src"></a></li>
				<li class="documents__item"><a href="http://lorempixel.com/400/600" class="documents__item__image zoom s"><img src="./images/document/9.jpg" alt="" class="documents__item__image__src"></a></li>
			</ul>
			
			@@include('./components/pagination.html')

		</div>

	</div>

</div>

@@include('./components/footer.html')

@@include('./components/scripts.html')