@@include('./components/meta.html', {
	"title": "контакты"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "contacts"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
			
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Контакты",
				"page3": ""
			})
		
			<h4 class="page__title"><span class="page__title__text">Контакты</span></h4>

		</div>

		<section class="contacts clearfix">
			<article class="contacts__block js-toggle-wrapper">
				<div class="contacts__block__address current js-toggle-class" data-city="krasnodar">
					<span class="lbl lbl_small">Адрес</span><br>
					Краснодар, 350051<br>
					ул. Дальняя, 39/3<br>
					<span class="lbl">Телефон:</span> (861) 278-98-34<br>
					<span class="lbl">Email:</span> <a href="mailto:info@itsntk.ru">info@itsntk.ru</a>
				</div>

				<div class="contacts__block__address js-toggle-class" data-city="moscow">
					<span class="lbl lbl_small">Адрес</span><br>
					Москва, 127083<br>
					Верхняя Масловка, д. 20, стр. 1.<br>
					<span class="lbl">Телефон:</span> (495) 645-83-54<br>
					<span class="lbl">Email:</span> <a href="mailto:info@itsntk.ru">info@itsntk.ru</a>
				</div>

				<div class="contacts__block__button">
					<a href="#popup-question" class="btn contacts__block__button__link js-open-popup">НАПИСАТЬ ПИСЬМО</a>
				</div>
			</article>

			<article class="contacts__map">
				<div class="contacts__map__inner" id="map-conteiner"></div>
			</article>
		</section>
		
		<div class="layout-wrapper__content clearfix">
			<section class="branch clearfix">
				<article class="branch__item">
					<div class="branch__item__direction">По вопросам выполнения работ и стоимости услуг:</div>
					<div class="branch__item__phone"><strong>8 (861) 278-98-34</strong> (доб. 1250)</div>
				</article>

				<div class="branch__separator"></div>
				
				<article class="branch__item">
					<div class="branch__item__direction">По вопросам технической защиты информации:</div>
					<div class="branch__item__phone"><strong>8 (861) 278-98-34</strong> (доб. 1255)</div>
				</article>

				<div class="branch__separator"></div>
				
				<article class="branch__item branch__item_large">
					<div class="branch__item__direction">По вопросам защиты конфиденциальной информации и  персональных данных:</div>
					<div class="branch__item__phone"><strong>8 (861) 278-98-34</strong> (доб. 4407)</div>
				</article>
				
				<div class="branch__separator"></div>

				<article class="branch__item">
					<div class="branch__item__direction">По вопросам лицензирования</div>
					<div class="branch__item__phone"><strong>8 (861) 278-98-34</strong> (доб. 1253)</div>
				</article>
			</section>

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "contacts"
})

@@include('./components/scripts.html', {
	"goggle": true
})