@@include('./components/meta.html', {
	"title": "заказчики"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "customers"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
			
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Заказчики",
				"page3": ""
			})
			
			<h4 class="page__title"><span class="page__title__text">Заказчики</span></h4>
			
			<ul class="customers clearfix">
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/1.png" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ФГУП «СВЭКО» ФСО РОССИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/2.png" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ОАО "ВОЕНТЕЛЕКОМ"</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/3.gif" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ПОГРАНИЧНОЕ УПРАВЛЕНИЕ ФСБ РОССИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/4.gif" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ГУ МВД РОССИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/5.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">СЕВЕРО-КАВКАЗСКИЙ РЕГИОНАЛЬНЫЙ ЦЕНТР МЧС РОССИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/6.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">УПРАВЛЕНИЕ ФЕДЕРАЛЬНОГО КАЗНАЧЕЙСТВА</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/7.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">УПРАВЛЕНИЕ ФЕДЕРАЛЬНОЙ МИГРАЦИОННОЙ СЛУЖБЫ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/8.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">УПРАВЛЕНИЕ ФЕДЕРАЛЬНОЙ НАЛОГОВОЙ СЛУЖБЫ РОССИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/9.gif" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">УПРАВЛЕНИЕ ФЕДЕРАЛЬНОЙ СЛУЖБЫ ИСПОЛНЕНИЯ НАКАЗАНИЙ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/10.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">УФСБ РОССИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/11.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ФГБУ «ФКП РОСРЕЕСТРА»</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/12.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ФЕДЕРАЛЬНАЯ СЛУЖБА ПО ОБОРОННОМУ ЗАКАЗУ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/13.gif" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ФЕДЕРАЛЬНАЯ СЛУЖБА РОССИЙСКОЙ ФЕДЕРАЦИИ ПО КОНТРОЛЮ ЗА ОБОРОТОМ НАРКОТИКОВ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/14.jpg" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ФЕДЕРАЛЬНАЯ ТАМОЖЕННАЯ СЛУЖБА</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/15.png" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ЦЕНТР СПЕЦИАЛЬНОЙ СВЯЗИ И ИНФОРМАЦИИ ФЕДЕРАЛЬНОЙ СЛУЖБЫ ОХРАНЫ РОССИЙСКОЙ ФЕДЕРАЦИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/16.png" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">ЦЕНТРАЛЬНЫЙ БАНК РОССИЙСКОЙ ФЕДЕРАЦИИ</div>
				</li>
				<li class="customers__item">
					<a href="" class="customers__item__image"><img src="./images/customers/17.png" alt="" class="customers__item__image__src"></a>
					<div class="customers__item__title">АВИАЛИНИИ ДАГЕСТАНА</div>
				</li>
			</ul>

			<div class="page__button">
				<a href="" class="btn btn_ico"><span class="btn__ico btn__ico_reload">Показать еще</span></a>
			</div>

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "customers"
})

@@include('./components/scripts.html')