@@include('./components/meta.html', {
	"title": "заказчики"
})

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "customers"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
			
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Заказчики",
				"page3": ""
			})
			
			<h4 class="page__title"><span class="page__title__text">Заказчики</span></h4>
			
			<ul class="customers clearfix">
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/1.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/2.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/3.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/4.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/5.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/6.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/7.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/8.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/9.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/10.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/11.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/12.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/13.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/14.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/15.jpg" alt="" class="partners__item__image__src"></a></li>
				<li class="customers__item"><a href="" class="partners__item__image"><img src="./images/customers/16.jpg" alt="" class="partners__item__image__src"></a></li>
			</ul>

			<div class="page__button">
				<a href="" class="btn btn_ico"><span class="btn__ico btn__ico_reload">Показать еще</span></a>
			</div>

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "customers"
})

@@include('./components/scripts.html')