@@include('./components/meta.html', {
	"title": "заказчики"
})

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "customers"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content">
		
			<h4 class="page__title"><span class="page__title__text">АНКЕТЫ</span></h4>

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "customers"
})

@@include('./components/scripts.html')