@@include('./components/meta.html', {
	"title": "Главная"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "main"
	})

	<div class="layout-wrapper__inner layout-wrapper__inner_main" itemprop="mainContentOfPage">
		<!-- 
		<div class="map clearfix">
			<div class="map__content">
				<div class="map__content__count">47<span class="map__content__count__percent">%</span></div>
				<div class="map__content__text">доля рынка «СНТК» совокупно с партнером «Сириус» на Юге России в 2015 году</div>
			</div>
		</div>
 		-->

		<article class="slider clearfix">
            <div class="slider__wrapper js-slider">
                <div class="slider__item slick-slide">
                	<div class="map map_v0 clearfix">
	                    <div class="map__content">
							<div class="map__content__title">Все возможные услуги в<br>области защиты<br>информации</div>
						</div>
					</div>
                </div>

                <div class="slider__item slick-slide">
                	<div class="map map_v1 clearfix">
	                    <div class="map__content map__content_simple">
	                    	<div class="map__content__sup">более</div>
							<div class="map__content__count">40</div>
							<div class="map__content__text">сертификатов повышения квалификации<br>в области защиты информации</div>
						</div>
					</div>
                </div>

                <div class="slider__item slick-slide">
                    <div class="map map_v2 clearfix">
	                    <div class="map__content map__content_large">
							<div class="map__content__count">15<span class="map__content__count__percent">лицензий</span></div>
							<div class="map__content__text map__content__text_shift">в области защиты информации</div>
						</div>
					</div>
                </div>

                <div class="slider__item slick-slide">
                    <div class="map map_v3 clearfix">
	                    <div class="map__content map__content_simple">
	                    	<div class="map__content__sup">более</div>
							<div class="map__content__count">70<span class="map__content__count__percent">-ти</span></div>
							<div class="map__content__text">организациям были оказаны услуги «СНТК» в области<br>защиты информации в 2015 году</div>
						</div>
					</div>
                </div>

                <div class="slider__item slick-slide">
                    <div class="map map_v4 clearfix">
	                    <div class="map__content">
	                      	<div class="map__content__count">47<span class="map__content__count__percent">%</span></div>
							<div class="map__content__text">доля рынка «СНТК» совокупно с<br>партнером «Сириус» на Юге<br>России в 2015 году</div>
						</div>
					</div>
                </div>

                <div class="slider__item slick-slide">
                    <div class="map map_v5 clearfix">
	                    <div class="map__content map__content_medium">
							<div class="map__content__count">150<span class="map__content__count__percent">человек</span></div>
							<div class="map__content__text map__content__text_shift">численность сотрудников<br>компании</div>
						</div>
					</div>
                </div>
            </div>
        </article>

		<div class="layout-wrapper__content clearfix">
			<h4 class="page__title"><span class="page__title__text">ОСНОВНЫЕ УСЛУГИ</span></h4>

			@@include('./components/carousel-icons.html')
		</div>

		<section class="columns">
			<div class="columns__wrapper clearfix">

				<article class="columns__item columns__item_about">
					<h3 class="columns__title columns__title_white">О компании</h3>
					<div class="columns__content columns__content_white">
						ЗАО «Специальная научно-техническая компания» (ЗАО «СНТК») – современная, динамично развивающаяся компания, <br>основными направлениями деятельности <br>которой является оказание услуг в области защиты информации и защиты государственной тайны.
					</div>
					<div class="columns__more"><a href="" class="columns__more__link">подробнее</a></div>
				</article>

				<article class="columns__item columns__item_events">
					<h3 class="columns__title">События</h3>

					<div class="events">
						<div class="events__wrapper js-carousel clearfix" data-viewcount="2" data-classname="events">
							
							<div class="events__item slick-slide">
								<div class="events__item__inner">
									<div class="events__item__date">03.02.2016</div>
									<div class="events__item__title">
										<a href="" class="events__item__link">Эвэртё пэрпэтюа эож ты. Ты конгуы вяш, про апэриам дёжкэрэ</a>
									</div>
									<div class="events__item__content">Эвэртё пэрпэтюа эож ты. Ты конгуы волуптариа вяш, про апэриам дёжкэрэ ку, хёнк омнеж оффекйяж вим эи. Квюач лаборамюз мэль нэ, еюж емпэтюсъ ыкчпэтында дёжжэнтиюнт экз. Вим эа граэкйж чингюльищ.</div>
									
									<div class="events__item__more">
										<a href="" class="events__item__more__link">Подробнее</a>
									</div>
								</div>
							</div>
							
							<div class="events__item slick-slide">
								<div class="events__item__inner">
									<div class="events__item__date">03.02.2016</div>
									<div class="events__item__title">
										<a href="" class="events__item__link">Эвэртё пэрпэтюа эож ты. Ты конгуы вяш, про апэриам дёжкэрэ</a>
									</div>
									<div class="events__item__content">Эвэртё пэрпэтюа эож ты. Ты конгуы волуптариа вяш, про апэриам дёжкэрэ ку, хёнк омнеж оффекйяж вим эи. Квюач лаборамюз мэль нэ, еюж емпэтюсъ ыкчпэтында дёжжэнтиюнт экз. Вим эа граэкйж чингюльищ.</div>

									<div class="events__item__more">
										<a href="" class="events__item__more__link">Подробнее</a>
									</div>
								</div>
							</div>
							
							<div class="events__item slick-slide">
								<div class="events__item__inner">
									<div class="events__item__date">03.02.2016</div>
									<div class="events__item__title">
										<a href="" class="events__item__link">Эвэртё пэрпэтюа эож ты. Ты конгуы вяш, про апэриам дёжкэрэ</a>
									</div>
									<div class="events__item__content">Эвэртё пэрпэтюа эож ты. Ты конгуы волуптариа вяш, про апэриам дёжкэрэ ку, хёнк омнеж оффекйяж вим эи. Квюач лаборамюз мэль нэ, еюж емпэтюсъ ыкчпэтында дёжжэнтиюнт экз. Вим эа граэкйж чингюльищ.</div>

									<div class="events__item__more">
										<a href="" class="events__item__more__link">Подробнее</a>
									</div>
								</div>
							</div>

						</div>
					</div>
					
				</article>
				
			</div>
		</section>
		
		<div class="layout-wrapper__content clearfix">
			
			@@include('./components/fieldset.html')
			
			<div class="page__video">
				<iframe width="100%" height="530" src="https://www.youtube.com/embed/qxtK8mTJdRM?rel=0&showinfo=0&egm=0&autoplay=0&border=0&fmt=18" frameborder="0" allowfullscreen></iframe>
			</div>

			@@include('./components/carousel.html')

		</div>
	</div>
</div>

@@include('./components/footer.html', {
	"current": "main"
})

@@include('./components/scripts.html')