@@include('./components/meta.html', {
	"title": "лицензии и сертификаты"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "license"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
		
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Лицензии и сертификаты",
				"page3": ""
			})
			
			<h4 class="page__title"><span class="page__title__text">ЛИЦЕНЗИИ и СЕРТИФИКАТЫ</span></h4>
			
			<section class="table-touch">
				<table>
					<colgroup>
						<col width="120">
						<col width="145">
						<col width="255">
						<col width="255">
						<col width="180">
					</colgroup>
					<thead>
						<tr>
							<th>Кем выдан</th>
							<th>Серия/Рег. номер</th>
							<th>Название</th>
							<th>Описание</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
						<tr>
							<td>УФСБ РФ</td>
							<td>ГТ № 0062326, рег.№ 1438</td>
							<td>На осуществление выявления электронных устройств, предназначенных для негласного получения информации</td>
							<td>На осуществление работ, связанных с использованием сведений, составляющих государственную тайну.</td>
							<td><a href="" class="show-file">Просмотр</a></td>
						</tr>
					</tbody>
				</table>
			</section>

			@@include('./components/pagination.html')

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "license"
})

@@include('./components/scripts.html')