@@include('./components/meta.html', {
    "title": "Партнеры"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
    
    @@include('./components/upper.html')
    
    @@include('./components/header.html')
    
    @@include('./components/navigation.html')

    <div class="layout-wrapper__inner" itemprop="mainContentOfPage">
        
        <div class="layout-wrapper__content clearfix">
        
            @@include('./components/breadcrumbs.html', {
                "page1": "Главная",
                "page2": "Карта присутствия",
                "page3": ""
            })

            <h4 class="page__title"><span class="page__title__text">Карта присутствия</span></h4>

            <article class="map-presence">
                <mark class="map-presence__marker" style="left: 320px; top: 280px;" data-title="Москва"></mark>
            </article>
            
        </div>

    </div>

</div>

@@include('./components/footer.html')

@@include('./components/scripts.html')