@@include('./components/meta.html', {
    "title": "Партнеры"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
    
    @@include('./components/upper.html')
    
    @@include('./components/header.html')
    
    @@include('./components/navigation.html')

    <div class="layout-wrapper__inner" itemprop="mainContentOfPage">
        
        <div class="layout-wrapper__content clearfix">
        
            @@include('./components/breadcrumbs.html', {
                "page1": "Главная",
                "page2": "Карта присутствия",
                "page3": ""
            })

            <h4 class="page__title"><span class="page__title__text">Карта присутствия</span></h4>
            
            <div class="table-touch">
                <article class="map-presence">
                    <mark class="map-presence__marker js-marker" style="left: 140px; top: 237px;"><span class="map-presence__marker__tooltip">Москва</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 116px; top: 265px;"><span class="map-presence__marker__tooltip">Липецк</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 47px; top: 323px;"><span class="map-presence__marker__tooltip">Краснодар (и все города края)</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 45px; top: 340px;"><span class="map-presence__marker__tooltip">Майкоп</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 78px; top: 324px;"><span class="map-presence__marker__tooltip">Ростов (Таганрог, Сальск, Азов)</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 68px; top: 355px;"><span class="map-presence__marker__tooltip">Ставрополь (Невиномысск, Пятигорск, Георгиевск)</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 113px; top: 330px;"><span class="map-presence__marker__tooltip">Волгоград</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 95px; top: 362px;"><span class="map-presence__marker__tooltip">Элиста</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 23px; top: 296px;"><span class="map-presence__marker__tooltip">Симферополь</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 15px; top: 290px;"><span class="map-presence__marker__tooltip">Севастополь</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 125px; top: 280px;"><span class="map-presence__marker__tooltip">Саратов</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 107px; top: 286px;"><span class="map-presence__marker__tooltip">Воронеж</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 114px; top: 375px;"><span class="map-presence__marker__tooltip">Астрахань</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 58px; top: 383px;"><span class="map-presence__marker__tooltip">Владикавказ</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 52px; top: 371px;"><span class="map-presence__marker__tooltip">Магас</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 75px; top: 390px;"><span class="map-presence__marker__tooltip">Грозный</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 0px; top: 0px;"><span class="map-presence__marker__tooltip">Гудермес</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 74px; top: 417px;"><span class="map-presence__marker__tooltip">Махачкала</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 190px; top: 215px;"><span class="map-presence__marker__tooltip">Вологда</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 175px; top: 225px;"><span class="map-presence__marker__tooltip">Кострома</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 112px; top: 210px;"><span class="map-presence__marker__tooltip">Смоленск</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 85px; top: 248px;"><span class="map-presence__marker__tooltip">Курск</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 113px; top: 250px;"><span class="map-presence__marker__tooltip">Тамбов</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 105px; top: 215px;"><span class="map-presence__marker__tooltip">Тула</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 88px; top: 222px;"><span class="map-presence__marker__tooltip">Брянск</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 89px; top: 270px;"><span class="map-presence__marker__tooltip">Белгород</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 112px; top: 230px;"><span class="map-presence__marker__tooltip">Калуга</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 150px; top: 293px;"><span class="map-presence__marker__tooltip">Пенза</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 147px; top: 211px;"><span class="map-presence__marker__tooltip">Тверь</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 165px; top: 227px;"><span class="map-presence__marker__tooltip">Ярославль</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 415px; top: 430px;"><span class="map-presence__marker__tooltip">Барнаул</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 810px; top: 110px;"><span class="map-presence__marker__tooltip">Билибино (Чукотский автономный округ)</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 355px; top: 220px;"><span class="map-presence__marker__tooltip">Воркута</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 100px; top: 329px;"><span class="map-presence__marker__tooltip">Волгодонск</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 830px; top: 490px;"><span class="map-presence__marker__tooltip">Владивосток</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 231px; top: 218px;"><span class="map-presence__marker__tooltip">Сольвычегодск</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 48px; top: 359px;"><span class="map-presence__marker__tooltip">Черкесск</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 59px; top: 375px;"><span class="map-presence__marker__tooltip">Нальчик</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 68px; top: 359px;"><span class="map-presence__marker__tooltip">Цхинвали (Южная Осетия)</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 76px; top: 369px;"><span class="map-presence__marker__tooltip">Назрань</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 295px; top: 220px;"><span class="map-presence__marker__tooltip">Сосногорск</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 36px; top: 349px;"><span class="map-presence__marker__tooltip">Гудауты (Абхазия)</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 190px; top: 237px;"><span class="map-presence__marker__tooltip">Шарья</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 66px; top: 369px;"><span class="map-presence__marker__tooltip">Карабулак</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 275px; top: 250px;"><span class="map-presence__marker__tooltip">Микунь</span></mark>
                    <mark class="map-presence__marker js-marker" style="left: 231px; top: 190px;"><span class="map-presence__marker__tooltip">Няндома</span></mark>
                </article>
            </div>

        </div>

    </div>

</div>

@@include('./components/footer.html')

@@include('./components/scripts.html')