@@include('./components/meta.html', {
	"title": "Партнеры"
})

<div class="layout-wrapper">
	
	@@include('./components/upper.html', {
		"current": "partners"
	})
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html')

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content">
		
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Партнеры",
				"page3": ""
			})

			<h4 class="page__title"><span class="page__title__text">ПАРТНЕРЫ</span></h4>
			
			<ul class="partners">
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/1.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/2.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/3.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/4.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/5.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/6.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/7.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/8.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/9.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/10.png" alt="" class="partners__item__image__src"></a></li>
				<li class="partners__item"><a href="" class="partners__item__image"><img src="./images/partners/11.png" alt="" class="partners__item__image__src"></a></li>
			</ul>

		</div>

	</div>

</div>

@@include('./components/footer.html')

@@include('./components/scripts.html')