@@include('./components/meta.html', {
	"title": "АНКЕТЫ"
})

<div class="layout-wrapper">
	
	@@include('./components/upper.html')
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html', {
		"current": "questionnaire"
	})

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content">

			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Анкеты",
				"page3": ""
			})
		  
			<h4 class="page__title"><span class="page__title__text">АНКЕТЫ</span></h4>
			
			<section class="ballot clearfix">
				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>

				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>
			</section>
			
			<section class="ballot clearfix">
				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>

				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>
			</section>
			
			<section class="ballot clearfix">
				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>

				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>
			</section>
			
			<section class="ballot clearfix">
				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>

				<article class="ballot__item">
					<div class="ballot__item__title">Опросный лист</div>
					<div class="ballot__item__description">Для подготовки технико-коммерческого предложения по созданию системы защиты персональных данных</div>
					<div class="ballot__item__button">
						<a href="#ballot-1" class="button js-open-popup"><span class="button__ico button__ico_qu">Заполните анкету</span></a>
					</div>
				</article>
			</section>

		</div>

	</div>

</div>

@@include('./components/footer.html', {
	"current": "questionnaire"
})

@@include('./components/scripts.html')