@@include('./components/meta.html', {
	"title": "Материально-техническая база"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	
	@@include('./components/upper.html', {
		"current": "technical-base"
	})
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html')

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content clearfix">
		
			@@include('./components/breadcrumbs.html', {
				"page1": "Главная",
				"page2": "Материально - техническая база",
				"page3": ""
			})
	
			<h4 class="page__title"><span class="page__title__text">Материально - техническая база</span></h4>
			
			<blockquote class="blockquote">
				Для осуществления всех необходимых работ ЗАО «СНТК» использует собственную лабораторию, оснащенную  парком современного оборудования.
			</blockquote>
			
			<section class="viewer js-viewer clearfix">
				<div class="viewer__image js-viewer-image">
					<img src="./images/mtb/large.jpg" class="viewer__image__src" alt="">
				</div>
				
				<div class="viewer__nav">
					<span class="viewer__nav__arrow viewer__nav__arrow_prev js-viewer-prev"></span>
					<span class="viewer__nav__count"><span class="viewer__nav__count__current js-viewer-count">0</span> / <strong class="viewer__nav__count__total js-viewer-total">0</strong></span>
					<span class="viewer__nav__arrow viewer__nav__arrow_next js-viewer-next"></span>
				</div>

				<div class="viewer__content">
					<ul class="viewer__list js-viewer-list">
						<li class="viewer__list__item">
							<a href="./images/mtb/large.jpg" class="viewer__list__image js-viewer-trigger current">
								<img src="./images/mtb/1.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="http://lorempixel.com/960/456/sports?v=1" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/2.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="http://lorempixel.com/960/456/sports?v=2" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/1.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="./images/mtb/large.jpg" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/1.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="http://lorempixel.com/960/456/sports?v=1" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/2.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="http://lorempixel.com/960/456/sports?v=2" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/1.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="./images/mtb/large.jpg" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/1.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="http://lorempixel.com/960/456/sports?v=1" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/2.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="./images/mtb/large.jpg" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/1.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="http://lorempixel.com/960/456/sports?v=1" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/2.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
						<li class="viewer__list__item">
							<a href="http://lorempixel.com/960/456/sports?v=2" class="viewer__list__image js-viewer-trigger">
								<img src="./images/mtb/1.jpg" width="74" height="47" alt="" class="viewer__list__image js-viewer-trigger__src">
							</a>
						</li>
					</ul>
				</div>
			</section>

		</div>

	</div>

</div>

@@include('./components/footer.html')

@@include('./components/scripts.html')