@@include('./components/meta.html', {
	"title": "Материально-техническая база"
})

<div class="layout-wrapper">
	
	@@include('./components/upper.html', {
		"current": "technical-base"
	})
	
	@@include('./components/header.html')
	
	@@include('./components/navigation.html')

	<div class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div class="layout-wrapper__content">
		
			<h4 class="page__title"><span class="page__title__text"></span></h4>

		</div>

	</div>

</div>

@@include('./components/footer.html')

@@include('./components/scripts.html')